.footer {
  width: 100%;
  height: 100%;
  margin: 200px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../imgs/cube.jpg");
  position: relative;
  z-index: 20;
}

.footer .footer_txt {
  margin: -100px auto 70px;
 width: 70%;
  background-color: rgb(229, 190, 114);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

@media (max-width:640px){
  .footer .footer_txt{
    flex-direction: column;
    max-width: 100%;
    text-align: center;

  }
  .footer_txt .txt1 h1 {
    line-height: 1.1 !important;
  }
  .links_container .footer_links {
    width: 90% !important;
    gap: 15px;
  }
  .footer_contact .wraper .contact {
    /* background-color: rgb(65, 187, 243); */
    height: 100%;
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
  }
}

@media (min-width:641px) and (max-width:900px){
  .footer .footer_txt{
    flex-direction: column;
    max-width: 100%;
    text-align: center;

  }
  .footer_txt .txt1 h1 {
    line-height: 1.1 !important;
  }
  .links_container .footer_links {
    width: 90% !important;
    gap: 15px;
  }
  .footer_contact .wraper .contact {
    height: 100%;
    flex: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
  }
  .contact .agent .ag {
    width: 400px !important;
  }
}

.footer_txt .txt1 h1 {
  line-height: 0.1;
}

.footer .footer_ele {
  width: 100%;
  border-bottom: 1px solid rgb(102, 100, 100);

}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: -1;
}
.footer_ele .links_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer_ele .links_container .footer_logo img {
  width: 250px;
  height: 80px;
  z-index: 20;
}

.links_container .footer_links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  flex-wrap: wrap;

}

.links_container .footer_links a {
  text-decoration: none;
  color: rgb(168, 162, 162);
  transition: 0.5s ease-in-out;
}

.footer_links a:hover {
  color: white;
}

.footer .footer_ele .footer_contact {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
}
.footer_contact .wraper {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer_contact .wraper .contact {
  /* background-color: rgb(65, 187, 243); */
  height: 100%;
  flex: 50%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 50px;
}
.contact .agent{
  height: 500px;
}
.contact .agent h2 {
    color: white;
    position: relative;
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .contact .agent h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: goldenrod;
  }

.contact .agent .ag {
  width: 300px;
  height: 160px;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  gap: 20px;
}
.contact .agent .ag:nth-last-of-type(2){
    border-bottom: 1px solid white;
    margin-bottom: 30px;

}
.contact .agent .ag .ag_pic {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.contact .agent .ag .ag_pic img {
  width: 50px;
  height: 50px;
}
.contact .agent .ag .ag_contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
.contact .agent .ag .ag_contact .cert{
margin-top:-15px
}
.contact .agent .ag .ag_contact .tel,
.contact .agent .ag .ag_contact .mail {
    display: flex;
    gap:10px;
    margin-top:10px
}
.contact .agent .ag .ag_contact img {
  width: 20px;
}

.contact .details{
    width:fit-content;
    /* background-color: rgb(250, 199, 90); */
    color: white;
    height:500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact .details h2 {
    color: white;
    position: relative;
    font-size: 1.1rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .contact .details h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: goldenrod;
  }
  .details span {
    margin-top: -10px;
  }
.details .location{
    margin-top: 20px;
display: flex;
gap: 10px;
}
.details .location img{
    width: 20px;
}
.details .location a{
    color: white;
    font-size: 1rem;
}
/* ----------------------------------------------------------------------- */
.footer_contact .wraper .form {
  /* background-color: rgb(255, 123, 0); */
  height:500px;
  flex: 30%;
}

.wraper .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* align-items: center; */
}
.form h2 {
  color: white;
  position: relative;
  font-size: 1.1rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.form h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: goldenrod;
}
.form form input,
.form form textarea {
  background-color: rgb(158, 158, 158);
  padding: 4px;
  border: none;
  text-indent: 10px;
}

.form form textarea {
  height: 100px;
}

/* --------------------------- */

.footer .copyright{
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    text-align: center;
}