.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .Links {
    gap: 10px !important;
  }
  .Links a {
    font-size: 1rem !important;
  }
}

@media (min-width:641px) and (max-width:900px){
  .Links {
    gap: 10px !important;
  }
  .Links a {
    font-size: 1rem !important;
  }
}

.Links a {
  height: 40px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Links a:not(:last-child) {
  border-right: 3px solid rgb(207, 207, 207);
}

.Links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  transition: 0.5s ease-in-out;
}

.Links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 5px;
  transition: 0.5s ease-in-out;
}

.Links a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: black;
}
.Links a:hover {
  color: rgb(175, 152, 22);
}

.Links a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 5px;
  background-color: black;
}
