.living {
  width: 100%;
  height: auto;
  display:grid;
  grid-template-columns: 600px 600px;
  justify-content:center;
  align-items: center;
  gap:50px;
  /* border: 2px solid green; */
}
@media (max-width:640px){
  .living {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    width: 100%;
  }
  .living .branches {
   /* width: 90% !important; */
  
  }
  .living .living_pic img {
    width:100% !important;
    height:100% !important;
  }

}

@media (min-width:641px) and (max-width:900px){
  .living {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
    width: 100%;
  }
  .living .branches {
   /* width: 90% !important; */
  
  }
  .living .living_pic img {
    width:100% !important;
    height:100% !important;
  }
}

.living .branches {
  /* margin: auto; */
  /* width:800px; */
  /* width: 100%; */
  background-color: rgb(243, 243, 243);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* border: 1px solid red; */
}
.living .living_pic{
  /* border: 1px solid red; */
/* position: relative;
height: 100%;
width: 100%;
overflow: hidden; */
}
.living .living_pic img {
  /* width: 100%; */
 /* width: auto;
 height: auto;
  position: absolute;
top:0 */

}

.living .branches_cont {
  width: 80%;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid red; */
  
}



.living .branches_cont .branch_ {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.branch_ .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.icon img {
  z-index: 20;
  width: 30px;
  height: 30px;
}

.branch_ h2 {
  margin-bottom: -10px;
}
.branch_ .icon::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.branch_ .icon:hover::after {
  content: "";
  background-color: rgb(235, 88, 125);
  width: 50px;
  height: 50px;
}

.branch_:hover h2{
  color:rgb(230, 188, 115);
}
/* --------------------------------------------------------------------------- */
.branch_:nth-last-of-type(3),
.branch_:nth-last-of-type(4){
  position: relative;
}
.branch_:nth-last-of-type(3) .line,
.branch_:nth-last-of-type(4) .line{
position: absolute;
width: 100%;
height:1.5%;
background-color: rgb(177, 176, 179);
bottom: 0;
overflow: hidden;
}

.branch_:nth-last-of-type(3) .line::after,
.branch_:nth-last-of-type(4) .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width:0;
  height: 100%;
  transition: .5s;
  transition-timing-function: ease-in-out;


} 

.branch_:nth-last-of-type(3) .line:hover::after,
.branch_:nth-last-of-type(4) .line:hover::after {
  content: "";
  position: absolute;
  right:0;
  width: 100%;
  background-color: rgb(235, 88, 125);
  transition: .5s;
  transition-timing-function: ease-in-out;
}

.branch_:nth-last-of-type(3) .line:hover::before,
.branch_:nth-last-of-type(4) .line:hover::before {
  content: "";
  position: absolute;
right:50%; 
  width: 100%;
  background-color: rgb(235, 88, 125);
  transition: .5s;
  transition-timing-function: ease-in-out;
} 
