 .sidebar{
  width: 300px;
  height: 100%;
  background-color: #252525;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: gray black;
  transition:width .5s ease-in-out;
}
 .close {
  padding: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: absolute;
  right: 0;
  margin: 10px;
}
 .logo {
  margin: 40px 10px;
}
 .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

 .info h1,
 .info .contact h2 {
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
}
 .info p,
 .info .contact p {
  color: rgba(175, 175, 175, 0.884);
  font-weight: normal;
  font-size: 1.1rem;
}

 .info .logo img {
  width: 180px;
  height: 60px;
}

 .info span {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.hide{
  width:0;
  height: 100%;
  background-color: #252525;
  position: fixed;
  top: 0;
  right:0;
  z-index: 20;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: gray black;
  overflow-x: hidden;
  transition:width .4s ease-in-out;
  opacity: .2;
}

