.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:640px){
  /* .swiper {
    height: 80vh;
  } */
  .swiper-pagination-bullet {
    /* margin: 130px!important;
    position: relative; */
    display: none !important;
  }
  .swiper-slide p {
    width: 50% !important;
    font-size: 1.1rem;
    padding: 1px 10px !important;
  }
  /* .mySwiper .swiper-slide-active p {
    transform: translateY(50px) !important;
  }
  .mySwiper .swiper-slide-active h3 {
    transform: translateY(-70px) !important;
  } */
}

@media (min-width:768px){

}

.mySwiper {
  will-change: transform;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  margin: 30px 10px !important;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mySwiper .swiper-slide {
  transition-timing-function: ease-in-out !important;
}

.mySwiper .swiper-slide {
  transition: transform 0.5s ease; /* Duration and easing */
}

/* Scale effect for the active slide */
.mySwiper .swiper-slide-active {
  transform: scale(1.3);
}
.swiper-slide {
  position: relative;
}
.swiper-slide::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(125, 126, 125, 0.459);
}

.swiper-slide p {
  width: 40%;
  position: absolute;
  top:150px;
  font-size: 1.2rem;
  color: transparent;
  z-index: 20;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.mySwiper .swiper-slide-active p {
  color: white;
  transform: translateY(80px);
}


.swiper-slide h3 {
  width: 40%;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  z-index: 20;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  transition: 1.5s;
  transition-timing-function: ease-in-out;
}
.mySwiper .swiper-slide-active h3 {
  color: white;
  transform: translateY(-120px);
}
