.footer_{
background-color: beige;
margin: 100px 0 0;
padding:30px;
}

.footer_ .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:20px
}

.footer_ .container .footer_social{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px
}

.footer_ .container .footer_social .logo{
    
}

.footer_ .container .footer_social .logo img{
    width: 150px;
}

.footer_ .container .footer_social .social{
    display: flex;
    gap: 12px;
    font-size:1.2rem;
}

.footer_ .container .services{
display: flex;
flex-direction: column;
}

.footer_ .container .services a{
    color: gray;
}
.footer_ .container .footer_subscribtion{

}

.footer_ .container .footer_subscribtion h3{
    
}

.footer_ .container .footer_subscribtion p{
    
}

.footer_ .container .footer_subscribtion .mail{
display: flex;
}

.footer_ .container .footer_subscribtion .mail input{
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(211, 210, 210);
height: 30px;
text-indent: 10px;
}

.footer_ .container .footer_subscribtion .mail button{
    color: white;
    background-color: black;
    border:none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}