.products{
    /* background-color: rgb(111, 197, 255); */
}

.products .product_header{
margin: 0 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.products .product_header .product_header_links{
    display: flex;
    gap: 30px;
}

.products .product_header .product_header_links a{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(95, 95, 95);
    transition: .5s ease-in-out;
    position: relative;
    width: fit-content;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .products .product_header{
        flex-direction: column;
        } 
        .products .product_header h1{
           font-size: 1.3rem;
            }
           
}

.products .product_header .product_header_links a:hover{
    color: black;

}
.products .product_header .product_header_links a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(241, 162, 59);
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.products .product_header .product_header_links a:hover::after{
   
    width: 100%;
   
}

.products .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 20px;
}

@media (max-width:767px) {
    .products .container{
        padding: 0 50px;
        }
}

.products .container .card_product{
background-color: rgb(236, 236, 236);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
padding: 10px;
box-shadow: 0 5px 0 rgba(129, 129, 129, 0.473);
}

.products .container .card_product img{
width: 150px;
height: 140px;
border-radius: 10px;
}




.products .container .card_product h3{
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    font-weight: 500;
}
.products .container .card_product .card_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.products .container .card_product .card_info .rate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50px;
}

.products .container .card_product .card_info .rate span{
font-weight: bold;
}
.products .container .card_product .card_info .rate .rate_icon{
    color: rgb(255, 217, 0);

    width: 25px;
    height: 25px;
}
.products .container .card_product .price{
    font-size: 1.3rem;
    font-weight: bold;
}
.products .container .card_product .card_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.products .container .card_product .card_btns .ctr_btns .dec,
.products .container .card_product .card_btns .ctr_btns .inc{
    background-color: white;
    border: 1px solid gainsboro;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.products .container .card_product .card_btns .ctr_btns{
    display: flex;
    gap: 20px;
}
.products .container .card_product .card_btns .ctr_btns .inc:hover{
background-color: rgb(27, 168, 74);
}
.products .container .card_product .card_btns .ctr_btns .dec:hover{
    background-color: rgb(228, 60, 38);
    }
.products .container .card_product .card_btns .ctr_btns .amount{
    font-weight: 700;
}
.products .container .card_product .add_cart{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #999999;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.products .container .card_product .add_cart:hover{
    color:#3d3d3d
}